!!! 5
html(lang='en')
  head
    title= title
    meta(name='description', content='Upload and share your audio loops!')
    meta(name='keywords', content='music, looping, loop, audio upload')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
